.site-header {
  margin-bottom: 4rem;
  box-shadow: none;
  background-color: var(--color3a);
  z-index: 1400;

  .nav-name {
    text-align: center;
    &:hover {
      font-weight: 700,
    }
  }

  a {
    text-decoration: none
  }
}

